# Parámetros simulación
mundo.demo = Demo0
mundo.sizePredeterminado = 12
# Cuentas predeterminadas
usuario.invitado = Invitado
usuario.admin = Admin
usuario.passwordPredeterminada = Miau#0
# Parámetros inicio sesion
sesion.intentosFallidos = 3
# Ficheros persistencia básica
usuarios.nombreFichero = usuarios.dat
equivalenciasId.nombreFichero = equivalId.dat
sesiones.nombreFichero = sesiones.dat
mundos.nombreFichero = mundos.dat
patrones.nombreFichero = patrones.dat
simulaciones.nombreFichero = simulaciones.dat
# Bases datos
db4o.nombreFicheroDB = JVdatos.db4o
#mySql.url = jdbc:mysql://rino.cierva2.local/jvdatos
mySql.url = jdbc:mysql://172.20.254.134/jvdatos
#mySql.url = jdbc:mysql://localhost/jvdatos
mySql.user = alum1
mySql.passwd = alum1